
<!------ Include the above in your HEAD tag ---------->

<footer id="mainFooter">
<div class="footer-left">
<a class="vertical-logo-container" href="https://media.netflix.com/en/">
<img class="vertical-logo" src="https://www.logolynx.com/images/logolynx/40/40a6d2cae4a212050433c5d940f8e420.jpeg">
</a>
</div>
<div class="footer-right">
<ul class="social-nav">
<li>Follow Us</li>
<li class="icon-bubble"><a href="https://www.facebook.com/netflixus" target="_blank"><i class="fa fa-facebook"></i><span class="hidden">Netflix on Facebook</span></a></li>
<li class="icon-bubble"><a href="https://twitter.com/netflix" target="_blank"><i class="fa fa-twitter"></i><span class="hidden">Netflix on Twitter</span></a></li>
<li class="icon-bubble"><a href="https://instagram.com/netflix" target="_blank"><i class="fa fa-instagram"></i><span class="hidden">Netflix on Instagram</span></a></li>
</ul>
<ul class="legal-nav">
<li><a href="https://media.netflix.com/en/contact-us">About Us</a></li>
<li><a href="https://partner.netflix.com/en/node/52" target="_blank">Ad Choices</a></li>
<li><a href="https://www.netflix.com/Privacy" target="_blank">Terms Of Service</a></li>
<li><a href="https://help.netflix.com/legal/privacy#cookies" target="_blank">Contact Us</a></li>
<li><a href="https://help.netflix.com/legal/privacy#cookies" target="_blank">Privacy Policy</a></li>
<li>© 2017 Sparkk TV</li>
</ul>
</div>
</footer>