<body id="RegisterForm">
    <div class="container">
      <h1 class="form-heading">Register Form
      </h1>
      <div class="login-form">
        <div class="main-div">
          <div class="panel">
            <h2>Register
            </h2>
            <p>Complete all the information
            </p>
          </div>
          <form id="Register">
            <div class="form-group">
              <input type="first-name" class="form-control" id="inputFirst-name" placeholder="First Name">
            </div>
            <div class="form-group">
                <input type="surnames" class="form-control" id="inputSurnames" placeholder="Surnames">
            </div>
          
            <div class="form-group">
                <input type="email" class="form-control" id="inputEmail" placeholder="Email Address">
              </div>

              <div class="form-group">
                  <input type="password" class="form-control" id="inputPassword" placeholder="Password">
              </div>

            <div class="form-group">
              <input type="repeat-password" class="form-control" id="inputRepeat-password" placeholder="Repeat-password">
            </div>

            <div class="form-group">
                <input type="country" class="form-control" id="inputCountry" placeholder="Country">
            </div>

            <div class="form-group">
                    <input id="date" type="date">
              </div>

            <button type="submit" class="btn btn-primary">Login
            </button>
          </form>
        </div>
       
        <p class="botto-text"> TubeKids
        </p>
      </div>
    </div>
  </body>