<app-menu></app-menu>
<body id="RegisterForm">
    <div class="container">
      <h1 class="form-heading">Register Form
      </h1>
      <div class="login-form">
        <div class="main-div">
          <div class="panel">
            <h2>Register
            </h2>
            <p>Complete all the information
            </p>
          </div>
          <form id="Register">
            <div class="form-group">
              <input type="first-name" class="form-control" name="name" [(ngModel)]="current_user.name"  placeholder="First Name">
            </div>
            <div class="form-group">
                <input type="surnames" class="form-control" name="lastname" [(ngModel)]="current_user.lastName" placeholder="Surnames">
            </div>
          
            <div class="form-group">
                <input type="email" class="form-control" name="email" [(ngModel)]="current_user.email" placeholder="Email Address">
              </div>

              <div class="form-group">
                  <input type="password" class="form-control" name="password" [(ngModel)]="current_user.password" placeholder="Password">
              </div>

            <div class="form-group">
              <input type="repeat-password" class="form-control" name="passregistration" [(ngModel)]="passregistration" placeholder="Repeat-password">
            </div>

            <div class="form-group">
                <input type="country" class="form-control" name="country" [(ngModel)]="current_user.contry" placeholder="Country">
            </div>

            <div class="form-group">
                    <input id="date" name = "fecha" [(ngModel)]="current_user.birthDate" type="date">
              </div>

            <button type="submit" class="btn btn-primary" (click) = "registrar();">OK
            </button>
          </form>
        </div>
       
        <p class="botto-text"> TubeKids
        </p>
      </div>
    </div>
  </body>